body {
  font-family: 'lato', sans-serif;
  font-size: 100%; /* Base font size for body */
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin: 1.25em 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  margin: 1.17em 0;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
}

.responsive-table {
  list-style-type: none;
  padding: 0;
}

.responsive-table li {
  border-radius: 3px;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.table-header {
  background-color: #95A5A6;
  font-size: 0.8em;

  letter-spacing: 0.03em;
  padding: 1.5em;
  text-align: center;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 40%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 25%;
}

.comment-section {
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 5px solid #95A5A6;
  margin-bottom: 1.5em;
}

@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }
  .table-row {
    padding: 1em;
  }
  .responsive-table li {
    display: block;
    padding: 1em;
  }
  .col {
    flex-basis: 100%;
    display: flex;
    padding: 0.5em 0;
  }
  .col:before {
    color: #6C7A89;
    padding-right: 0.5em;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: center;
  }
}
